// settings
$font-main: "Syne", sans-serif;
$fontIcon: "icomoon";

:root {
    --Black: #000000;
    --White: #ffffff;
    --Primary: #FE5631;
    --Text-primary: #101010;
    --Text-secondary: #5C6368;
    --Line: #E4E4E4;
    --Text-muted: #A4AEB5;
    --Text-light: #ffffff;
    --Bg-light: #F9F7F3;
}
